@font-face {
  font-family: CharisSILW;
  src: url(fonts/CharisSIL-Regular.woff2);
}

@font-face {
  font-family: CharisSILW;
  font-weight: bold;
  src: url(fonts/CharisSIL-Bold.woff2);
}

body {
  font-family: CharisSILW, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  margin: 20px;
}

h1 {
  font-weight: normal;
  margin: 0;
}

a {
  color: black;
}

main {
  margin: 40px auto;
  max-width: 800px;
}

article {
  padding-left: 30px;
}

.code {
  font-family: "Courier New", Courier, monospace;
  padding: 10px 20px;
}

footer {
  text-align: center;
  padding: 40px;
}

.git-logo {
}
