@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CharisSILW;
  src: url(/fonts/CharisSIL-Regular.woff2);
}

@font-face {
  font-family: CharisSILW;
  font-weight: bold;
  src: url(/fonts/CharisSIL-Bold.woff2);
}

@font-face {
  font-family: CharisSILW;
  src: url(/fonts/CharisSIL-Regular.woff2);
}

@font-face {
  font-family: CharisSILW;
  font-style: italic;
  src: url(/fonts/CharisSIL-Italic.woff2);
}
